.howitWork{
    align-items: center;
}

.howitWork img{
    width:100%;
    /* height:430px; */
}

.howitWork li{
    font-weight:bolder;
    font-size: 18px;
    margin:0px 0px 50px 0px

}

.howitWork li img{
    width:24px;
    height:24px;
    margin-right: 20px;
}

.howitWork li p{
    color: #737B7D;
    font-size: 14px;
    margin-top: 15px;
    font-weight: normal;
    margin-left: 50px;

}


@media screen and (min-width: 768px) and (max-width: 1023px) {

    
    .howitWork img{
        width:100%;
        height:auto;
        }
        .howitWork li{
            margin: 0px 0px 20px 0px;
        }
      
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .mainWraper{
        margin:0 auto;
        width: 90%;
    }

    .pageTitle p{
        font-size: 16px;
    }
    .pageTitle h1{
        font-size: 26px;
    }
    .howitWork img{
        width: 57%;
        height: auto;
    }
    .howitWork ul{
        width: 80%;
    }
    .howitWork li{
        font-size: 14px;
        margin: 0px 0px 20px 0px;
    }
  
    .imgHideforMobile{
        display:none
    }
}