.yourSelf .yourSelfSection{
    border: 2px solid #DBE9FF;
    padding: 10px;
    box-shadow: 18px 17px 19px rgb(167 167 167 / 25%);
    border-radius: 4px;
    margin:30px ;
}
.yourSelfSection img{
    width:24px;
    height:24px;
    margin:0px 20px;
}

.yourSelfSection label{
    font-weight:bold;
}

.yourSelfSection input{
    clear: both;
    width: -webkit-fill-available;
    margin-left: 62px;
    border: none;
    background: none;
    outline:none
}

.yourSelf button{
    box-shadow: 18px 17px 19px rgba(167, 167, 167, 0.25);
    border-radius: 4px;
    padding:25px 20%;
    margin:30px 0px;
}

.yourSelf .exploreJobIcon{
    --sds-c-icon-color-foreground-default: #3787FF;
    margin-right: 13px;
    margin-left: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .yourSelf .yourSelfSection{
        width: 100%;
        margin: 0px 0px;
    }
    .yourSelf .yourSelfSection button{
        margin: 0px 0px!important;
    }
 

}

.modalPopup{
    margin: 10% auto;
    width: 50%;
    max-width: 40rem;
    min-width: 20rem;
    background: #fff;
    height: auto;
    width: auto;
    padding: 2%;
    border-radius: 8px;
    --sds-c-icon-color-foreground-default: #999;
}
.modalPopup button{
    padding: 6px 26px;
    box-shadow: none;
    margin-right: 20px;
}
.modalPopup h2{
    font-size: 30px;
    margin: -60px -35px 20px -35px;
    padding: 10px 0px 10px 20px;
    background: #e9f0fc;
    border-radius: 8px 8px 0px 0px;
}
.closeIcon{
    float: right;
    margin-top: -45px;
    --sds-c-icon-color-foreground-default: #999;
    background: #8d9db8;
    border-radius: 100px;
    padding: 5px;
    cursor: pointer;
}